<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    {{> burgers/burger-block}}
  {{/each}}
</ul>


<p>Enter A Burger you want to eat.</p>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="burger" name="burger">
  </div>

  <button type="submit">Submit</button>
</form>
